# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite3
sqlite3.db

# Django
staticfiles/
media/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
